h1
{
    color: blueviolet;
    font-weight: bold;
}

#tituloform
{
    font-style: italic;
}

.esverdeado
{
    background-color: lightgreen;
}

body
{
    background-image: url("../imagem/fundo.jpg");
    background-size: auto;
}
